# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# file with keys of my firebase project
src/serviceAccountKey.json
lib/serviceAccountKey.json